<footer>

    <div class="footer_body">
        <div class="footer_information">
            <div class="footer_section">
                <div class="footer_section_title">
                    <h3>CONTACT</h3>
                </div>
                <div class="footer_section_panel">
                    <ul class="footer_section_list">
                        <li class="footer_section_list_item">
                            info@buytech.com
                        </li>
                        <li class="footer_section_list_item">
                            (+123) 1123 - 445566
                        </li>
                        <li class="footer_section_list_item">
                            Av. Los Tecnicos 123, CP 0X0X
                        </li>
                    </ul>
                </div>
            </div>
                
            <div class="footer_section">   
                <div class="footer_section_title">
                    <h3>HELP</h3>
                </div>
                <div class="footer_section_panel">
                    <ul class="footer_section_list">
                        <li class="footer_section_list_item">
                            <a href="/">Track your order</a>
                        </li>
                        <li class="footer_section_list_item">
                            <a href="/">Returns and Exchanges</a>
                        </li>
                        <li class="footer_section_list_item">
                            <a href="/">Shipping</a>
                        </li>
                        <li class="footer_section_list_item">
                            <a href="/">Custormer Service</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer_section">
                <div class="footer_section_title">
                    <h3>ABOUT US</h3>
                </div>
                <div class="footer_section_panel">
                    <ul class="footer_section_list">
                        <li class="footer_section_list_item">
                            <a href="/">Our Story</a>
                        </li>
                        <li class="footer_section_list_item">
                            <a href="/">Events</a>
                        </li>
                        <li class="footer_section_list_item">
                            <a href="/">Stores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
        
        <div class="footer_social">
            <div class="footer_social_links">
                <ul class="footer_social_links_list">
                    <li class="footer_social_links_list_item">
                        <a href="http://twitter.com">
                            <span class="social_icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                        </a>
                    </li>
                    <li class="footer_social_links_list_item">
                        <a href="http://facebook.com">
                            <span class="social_icon">
                                <i class="fab fa-facebook-f"></i>
                            </span>
                        </a>
                    </li>
                    <li class="footer_social_links_list_item">
                        <a href="http://instagram.com">
                            <span class="social_icon">
                                <i class="fab fa-instagram"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer_copyright">
            <p>Copyright 2022 | All Rights Reserved</p>
        </div>

    </div>

</footer>