<footer>

    <article class="footer__logo">
        <img src="./images/LogoBuyTech.png" alt="Logo">
    </article>

    <article class="footer__about-us footer__border-left">
        <h4>About us</h4>
        <ul>
            <a href="">
                <li>Quiénes Somos</li>
            </a>
            <a href="">
                <li>A dónde apuntamos</li>
            </a>
            <a href="">
                <li>Dónde estmos</li>
            </a>
        </ul>
    </article>

    <article class="footer__contact footer__border-left">
        <h4>Contact</h4>
        <ul>
            <li>INFO@BUYTECH.COM</li>
            <li>(+123)1123-445566</li>
            <li>AV. LOS TECNICOS 123, CP 0X0X</li>
        </ul>            
    </article>

    <article class="footer__help footer__border-left">
        <h4>Help</h4>
        <ul>
            <li>LATAM</li>
            <li>US</li>
            <li>UK-EU</li>
        </ul>

    </article>
    
    <article class="footer__extra" >
        <div class="social-media">
            <a href="http://twitter.com"><img src="./images/LogoTwiter.png" alt="twitter_logo"></a>
            <a href="http://facebook.com"><img src="./images/LogoFacebook.png" alt="facebook_logo"></a>
            <a href="http://instagram.com"><img src="./images/LogoInstagram.png" alt="instagram_logo"></a>          
        </div>
        <p>TODOS LOS DERECHOS RESERVADOS BUYTECH.COM.AR - 2022</p>

    </article>
    
</footer>