<footer>
    <div class="contenedor-bottom">
        <div class="LOGO-down-nav">
            <a class="a-LOGO" href="index.html">
                <img class="LOGO-down-img" src="/images/LogoBuyTech.png" alt="LOGO">
            </a>
        </div>
        <div class="REDES">
            <img class="logo-twitter" src="/images/LogoTwiter.png">
            <img class="logo-face" src="/images/LogoFaceBook.png">
            <img class="logo-insta" src="/images/LogoInstagram.png">
        </div>
        
        <div class="COPYRIGHT">
            <p>TODOS LOS DERECHOS RESERVADOS BUYTECH.COM.AR - 2022</p>
        </div>
    </div>
</footer>
