<footer>

    <article class="footer__logo">
        <img src="./images/LogoBuyTech.png" alt="Logo">
    </article>

    <article class="footer__about-us footer__border-left">
        <h4>About us</h4>
        <ul>
            <li>link 1</li>
            <li>link 2</li>
            <li>link 3</li>
        </ul>
    </article>

    <article class="footer__contact footer__border-left">
        <h4>Contact</h4>
        <ul>
            <li>link 1</li>
            <li>link 2</li>
            <li>link 3</li>
        </ul>            
    </article>

    <article class="footer__help footer__border-left">
        <h4>Help</h4>
        <ul>
            <li>link 1</li>
            <li>link 2</li>
            <li>link 3</li>
        </ul>

    </article>
    
    <article class="footer__extra" >
        <div class="social-media">
            <img src="./images/LogoTwiter.png" alt="twitter_logo">
            <img src="./images/LogoFacebook.png" alt="facebook_logo">
            <img src="./images/LogoInstagram.png" alt="instagram_logo">                
        </div>
        <p>TODOS LOS DERECHOS RESERVADOS BUYTECH.COM.AR - 2022</p>

    </article>
    
</footer>