<header class="header">

    <!-- Burger menu -->
    <nav class="header__burger-menu">
        <i class="fas fa-bars"></i>
    </nav>
    
    <!-- Imagen -->
    <div class="header__img-container">
        <a href="/"><img src="/images/LogoBuyTech.png" alt="LOGO" class="header__img"></a>
    </div>

    <!--Barrra de busqueda  -->
    <nav class="header__searchbar">        
        <div class="header__searchbar--background">
            <input type="text" placeholder="Introduce un término de búsqueda">
            <i class="fas fa-search"></i>            
        </div>
    </nav>

    <!-- Nav de user y cart -->
    <nav class="header__about-me">            
        <a href="/user/login">
            <span class="nav-personal__text">User</span>
            <i class="fas fa-user"></i>
        </a>
        <a href="/user/productCart">
            <span class="nav-personal__text">Cart</span>    
            <i class="fas fa-shopping-cart"></i>
        </a>
    </nav>    
</header>