*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-size-adjust: 100%;
}

body{
    font-family: 'Barlow', sans-serif;
}

html{
    font-size: 16px;
    text-size-adjust: 100%;
}

main {
    width: 100vw;
    padding-bottom: 20px;
    padding-top: 60px;
}

/* BARRA TIPOS DE PRODUCTOS*/
.slider {
    background-color: white;
    display: flex;
    width: 100vw;
    padding: 10px;
}

.slider__category{
    width: 25%;
}

.slider__category i{
    color: #0158aa;
    font-size: 2.5rem;
    padding-bottom: 8px;
}

.slider__category p{
    color: #0158AA;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}


/* INICIO DE BLOQUE EN COMUN PARA TODOS LOS PRODUCTOS */
.container{
    background-color: #EDEEF0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

.product {
    background-color: #ffffff;
    border-radius: 10px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
} 
.product__img {
    width: 80%;    
}
.product__name {
    width: 80%;
    text-align: center;
}

/* FIN DE BLOQUE EN COMUN PARA TODOS LOS PRODUCTOS */

.main-sections__title {
    margin-left: 9px;
    width: 100%;
    height: 1.4rem;
}
.the-latest__product {
    width: 80%;
    margin: 10px 0px;
    max-width: 400px;
}
.the-latest__product > img {
    margin-top: 30px;
}


.special-discounts__product,
.top-sales__product {
    width: 42%;
    margin: 10px 0;
    max-width: 250px;
}

.special-discounts__product > img,
.top-sales__product > img {
    margin-top: 15px;
}



@media (min-width: 769px) {

    .the-latest {
        width: 40%;
        
    }
    .the-latest__product {
        width: 90%;
    }
    .special-discounts__product,
    .top-sales__product {
        width: 80%;    
    }
    .main-sections__title {
        text-align: center;
    }
}

