
* {
    margin: 0%;
    padding: 0%;
}
body {
    width: 100%;
    height: auto;
}
footer {
    width: auto;
    height: auto;
    text-align: center;
}
.footer-site-info {
    margin-top: 5.55555556vw;
    padding: 2.43055556vw 0;
    font-size: 0.66666667rem;
    line-height: 2;
    text-transform: uppercase;
    background: #0158AA;
    color: #fff;
  }

  @media (max-width: 960px) {
    .footer-site-info {
      margin: 10px 0;
      padding: 10px 30px;
    }
  }

  .footer-site-info-insta {
      display: inline-block;
      font-size: 0;
      width: 1.73611111vw;
      height: 1.73611111vw;
      margin: 1.04166667vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .footer-site-info-face {
        display: inline-block;
        font-size: 0;
        width: 1.73611111vw;
        height: 1.73611111vw;
        margin: 1.04166667vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
  .footer-site-info-twit{
    display: inline-block;
    font-size: 0;
    width: 1.73611111vw;
    height: 1.73611111vw;
    margin: 1.04166667vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  @media (max-width: 960px) {
    .imagen-logo-buy {
        width: 45%;
        margin-top: 1%;
    }
    .footer-site-info-insta {
        width: 25px;
        height: 25px;
        margin: 15px;
      }
    .footer-site-info-face{
      width: 25px;
      height: 25px;
      margin: 15px;
    }
    .footer-site-info-twit {
        width: 25px;
        height: 25px;
        margin: 15px;
      }
  }

  .footer-site-info-insta.instagram {   
    background-image: url(/imagenes/LogoInstagram.png);
  }
  .footer-site-info-face.facebook {
    background-image: url(/imagenes/LogoFaceBook.png);
  }
  .footer-site-info-twit.twitter {
      background-image: url(/imagenes/LogoTwiter.png);
  } 
  .iamgen-logo-buy {
      background-image: url(/imagenes/LogoBuyTech.png);
  }

  .facebook.button {
    color: #ff337f;
    background: #fff;
    border: 1px solid;
  }
  .instagram.button {
      color: #ff337f;
      background: #fff;
      border: 1px solid;
    }
  .twitter.button {
    color: #ff337f;
    background: #fff;
    border: 1px solid;
  }  
  
  .facebook-logo {
    display: inline-block;
    content: url(/imagenes/LogoFaceBook.png);
    height: 1.3em;
    position: relative;
    bottom: -0.25em;
    margin: 0 0.3em;
  }
  .instagram-logo {
      display: inline-block;
      content: url(/imagenes/LogoInstagram.png);
      height: 1.3em;
      position: relative;
      bottom: -0.25em;
      margin: 0 0.3em;
    }
   .twitter-logo {
        display: inline-block;
        content: url(/imagenes/LogoTwiter.png);
        height: 1.3em;
        position: relative;
        bottom: -0.25em;
        margin: 0 0.3em;
    }


