*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-size-adjust: 100%;
}

body{
    font-family: 'Barlow', sans-serif;
}

html{
    font-size: 10px;
    text-size-adjust: 100%;
}

main {
    width: 100vw;
    padding-bottom: 20px;
    padding-top: 60px;
    background-color: rgb(241, 241, 241);
}

.container{
    padding-left: 20px;
    padding-right: 20px;

}

a{
    text-decoration: none;
    height: auto;
}

/* TYPE OF PRODUCTS BAR*/
.slider {
    background-color: white;
    display: flex;
    width: 100vw;
    padding: 10px;
}

.slider__category{
    width: 25%;
    text-align: center;
}

.slider__category i{
    color: #0158aa;
    font-size: 2.5rem;
    padding-bottom: 8px;
}

.slider__category p{
    color: #0158AA;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}



/* ADVERTISE */
.advertise_section {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.advertise_section_image img{
    width: 100%;
}


/* SECTION TITLE */
.section_title{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

.section_title_info{
    color: black;
    font-size: 4rem;
    letter-spacing: .06rem;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

/* SECTION TOP SALES */
.top_sale_section_products{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    width: 100%;

}

.top_sale_section_item_first{
    display: flex;
    flex-direction: column;
    padding: 8px;

}

.top_sale_section_item_rest{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    padding: 8px;
}


.product{
    padding: 8px;
    margin: 5px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
    border: 1px solid rgb(238, 238, 238);
}

.top_sale_section_item_first .product{
    height: 100%;
    align-items: center;
    justify-content: center;
}

.product img{
    width: 100%;
}

.product__name{
    font-size: 1rem;
    color: black;
    letter-spacing: .06rem;
    text-align: center;
    padding-top: 5px;
}


@media (min-width: 769px) {
    .product{
        transition: box-shadow 275ms;
    }
    .product:hover{
        box-shadow: rgb(0 0 0 / 10%) 4px 4px 6px 2px;
    }

    .slider__category i{
        transition: color 275ms;
    }
    .slider__category i:hover{
        color: rgb(0 0 0 / 50%);
    }

}

