*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
}

main{
  display: block;
  width: 100%;
}


/* ORDER COST */
.cart-detail {
  background-color: #FFFFFF;
  align-items: center;
  padding: 20px;
}

.cart-order-summary{
  border: 1px solid #e5e2de;
  padding: 20px;
  background-color: #FFFFFF;
}

.cart-order-totals{
  list-style-type: none;
  margin-bottom: 15px;
}

.cart-order-totals-item{
  color: black;
  display: flex;
  font: 1.3rem;
  justify-content: space-between;
  letter-spacing: .06rem;
  margin-bottom: 5px;
}

.cart-order-totals-item_strong{
  font-weight:bold;
  color: black;
  display: flex;
  font: 1.3rem;
  justify-content: space-between;
  letter-spacing: .06rem;
  margin-bottom: 5px;
}


/* BUTTONS */
.cart-button-checkout {
  margin-bottom: 20px;
}

.cart-button button{
  text-align: center;
  font-family: 'Barlow', sans-serif;
  background-color: #4b5666;
  border: 1px solid #4b5666;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: .24rem;
  line-height: normal;
  text-transform: uppercase;
  min-height: 45px;
  padding: 10px;
  width: 100%;
}


/* ITEMS */

.cart-order-items{
  padding-left: 20px;
  padding-right: 20px;
  grid-column-gap: 20px;
  display: grid;
}

.cart-item{
  border-bottom: 1px solid #e5e2de;
  margin-bottom: 20px;
  padding-bottom: 0;
  border-bottom: 1px solid #e5e2de;
}

.cart-item-title{
  color: black;
  font-size: 1.3rem;
  letter-spacing: .06rem;
  margin-bottom: 0;
}

.cart-item-attributes{
  list-style: none;
}

.cart-item-attributes_attribute{
  color: black;
  font-size: 1.3rem;
  letter-spacing: .06rem;
  margin-bottom: 5px;
  word-break: break-word;
}

.img-article{
  width: 100%;
}

.cart-actions{
  text-align: center;
}

.cart-actions div{
  color: #0158aa;
  display: inline-block;
  font-size: 1.3rem;
  letter-spacing: .06rem;
  margin-bottom: 20px;
  text-decoration: underline;
}

.cart-item-price{
  text-align: right;
}

.cart-item-price_line{
  color: black;
  font-size: 1.3rem;
  letter-spacing: .06rem;
}



/* TABLET */
@media (min-width: 481px) and (max-width: 768px) {
}

/* DESKTOP */
@media (min-width: 769px) {


 
}