*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 10px;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #EDEEF0;
    color:#4b5666;
}

main{
    margin-top: 100px;
}

.product_create_container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 20px 10px 0;
    width: 100%;
}

.create_requests div{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
}

.create_title_main{
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
}

.create_title_main h1{
    font-size: 2.2rem;
    letter-spacing: .11rem;
}

.create_title_required p{
    margin-bottom: 25px;
    font-size: 1.3rem;
}

label{
    display: block;
    vertical-align: baseline;
    margin-bottom: 5px;
    font-size: 1.3rem;
    text-transform: uppercase;
}

input, select{
    display: block;
    vertical-align: baseline;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    border: 1px solid #4b5666;
    background-color: #FFFFFF;
    border-radius: 0;
    font-size: 1.6rem;
}

.form-button{
    margin-bottom: 20px;
}
.form-button button{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    background-color: #4b5666;
    border: 1px solid #4b5666;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: .24rem;
    line-height: normal;
    text-transform: uppercase;
    min-height: 45px;
    padding: 10px;
    width: 100%;
}