.header {
  font-family: 'Barlow', sans-serif;
  display: flex;
  position: sticky;    
  background-color: #0158aa;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;        
}

.header__burger-menu {
  margin-left: 20px;
  width: 15%;
}
.header__burger-menu i {    
  color: white;
  font-size: 1.22rem;
  margin: 4px;
}
.header__img-container {
  width: 30%;    
}
.header__img-container a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;    
}
.header__img {
  width: 80%;
  min-width: 150px;
  max-width: 250px;
}
.header__searchbar {
  display: none;
}
.header__about-me {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.header__about-me a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 4px 18px;
}
.nav-personal__text {
  display: none;
}

a{
  text-decoration: none;
  color: white
}

@media (min-width: 769px) {

  .header__burger-menu {
      display: none;
  }
  .header__img-container {
      margin-left: 10px;
      max-width: 250px;
  }
  .header__img-container a {        
      justify-content: flex-start;           
  }
  .header__img {
      width: 100%;        
  }
  .header {
      height: 80px;
  }
  .header__searchbar {
      display: block;
      width: 55%;
  }    
  .header__searchbar--background {
      display: flex;    
      justify-content: space-around;   
      align-items: center; 
      background-color: white;
      margin: 11px ;
      padding: 3px;
      border-radius: 7px;
  }
  .header__searchbar input {
      width: 90%;
      height: 28px;
      border-style: none;    
      background-color: transparent;
  }
  
  .fa-search {    
      width: 23px;
      height: 23px;     
      padding: 3px 8px;    
      border-left: 1px solid #ebebeb;        
  }
  .header__about-me {
      width: 20%;
  }
  .header__about-me a {        
      margin: 4px 10px;
  }
  .nav-personal__text {
      display: inline;
  }
}