body{
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}

header {
	background: #0158aa;
	position: sticky;
	width: 100vw;
	height: 18vw;
	padding: 15px;
	z-index: 1;
	justify-content: space-between;
	display: flex;
	top:0;
	color: white;
}

.burger-menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.burger-menu i {
	font-size: 20px;
}
.header-right {
	width: 11vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-right i {
	font-size: 15px;
}

.fas-fa-user {
	margin-left: 2px;
}

header img {
	width: 55%;
}

/*MENU HAMBURGUESA */
nav ul {
	display: none;
} 
section.slider {
    background-color: #EDEEF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 16px 0px;
}


.slider img {
    width: 80%;
    margin-bottom: 16px;
}
.slider p{
    margin: 0px;
    text-align: center;
}

.slider__toleft,
.slider__toright {
    width: 10%;
}

.slider button {    
    font-size: 20px;
    border: none;
}

.slider article {
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; */
}




main {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
main section {
    /* width: 100vw; */
}

/* seccion 1 */
.latest {

}

.tarjeta-latest {
    background-color: #EDEEF0;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
.tarjeta-latest img {
	width: 85%;
	height: auto;
	margin-top: 15px;
	border-radius: 5px;
	
}
.latest p {
    padding: 10px;
    font-size: 22px;
    margin-top: 0;
    font-weight: 800;
}

/* Seccion 2 */
.top-sales{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.top-sales h3 {
    width: 100vw;
}
.tarjeta-top-sales {
    background-color: #EDEEF0;
	width: 45%;
	border-radius: 10px;
	text-align: center;
	margin: auto;
	margin-top: 15px;
}

.tarjeta-top-sales img {
    width: 85%;
	height: auto;
	margin-top: 15px;
	border-radius: 5px;
	
}

.tarjeta-top-sales p {
    margin-bottom: 5px;
	font-size: 13px;
	margin-top: 5px;
}

.special-discounts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.special-discounts h3 {
    width: 100vw;
}
.tarjeta-special-discounts {
    background-color: #EDEEF0;
	width: 45%;
	border-radius: 10px;
	text-align: center;
	margin: auto;
	margin-top: 15px;
}

.tarjeta-special-discounts {
    width:
}

.tarjeta-top-sales img {
    width: 85%;
	height: auto;
	margin-top: 15px;
	border-radius: 5px;
	
}

.tarjeta-top-sales p {
    margin-bottom: 5px;
	font-size: 13px;
	margin-top: 5px;
}










footer {
    background-color: #0158AA;
    color: white;
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}
.footer__logo {
    width: 75%;
    padding: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer__logo img {
    width: 80%;
}
.footer__border-left {
    width:30%;     
    /* display: flex;
    justify-content: center;   */
    margin: 0 5px;
}
.footer__border-left h4 {
    font-weight: 600;
    text-align: center;
    margin: 15px 0;
}
footer article ul {
    padding-left: 0px;    
}
footer article li {       
    list-style: none;
    text-align: center;
}
.social-media {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-media img {
    width: 35px;
}
.footer__extra {
    padding: 15px;
}
.footer__extra p {    
    text-align: center;
    margin-top: 15px;
}


@media (min-width: 361px) and (max-width: 768px){
    

}

@media (min-width: 769px) {

    footer {
       flex-wrap: nowrap;
       justify-content: space-around;
    }
    .footer__logo {
       width: 25%;
    }  
    .footer__border-left {
        width: 12%;             
        border-left: #EDEEF0 1px solid;     
        
    }
    .footer__extra{
        width: 25%;
        border-left: #EDEEF0 1px solid; 
    }
    footer article,
    .footer__border-left{    
        margin: 15px 0px;
    }
    footer article li {        
        text-align: start;
        padding-left: 9px;
        line-height: 1.15rem;
    }   
    
}
/* 

footer {
    background-color: 0158AA;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
}
footer article{
    padding: 8px;
    margin: 15px 0;
}
.footer__logo {
    width: 25%;
}

.footer__border-left {
    width: 15%;
    border-left: #000000 1px solid;
    list-style: none;
}

.footer__extra {
    width: 25%;
    align-self: stretch;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social-media {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-media img {
    width: 35px;
}
.footer__extra p {
    width: 100%;
    text-align: center;
    margin: 0;
}
 */
