*{
    box-sizing: border-box;
}

body {
	 font-family: 'Raleway', sans-serif;
	 background: #fff;
	 margin: 0;
}


header {
	background: #0158aa;
	position: sticky;
	width: 100vw;
	height: 18vw;
	padding: 15px;
	z-index: 1;
	justify-content: space-between;
	display: flex;
	top:0;
	color: white;
}

.burger-menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.burger-menu i {
	font-size: 20px;
}
.header-right {
	width: 11vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-right i {
	font-size: 15px;
}

.fas-fa-user {
	margin-left: 2px;
}

header img {
	width: 55%;
}

/*MENU HAMBURGUESA */

nav ul {
	display: none;
} 

main {
	position: relative;
}

main h1 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 0;
}

.contenedor-tarjetas {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
	margin: 10px;
	margin-bottom: 15px;
}

.tarjeta {
	background-color: #EDEEF0;
	width: 45%;
	border-radius: 10px;
	text-align: center;
	margin: auto;
	margin-top: 15px;
}

.tarjeta img {
	width: 85%;
	height: auto;
	margin-top: 15px;
	border-radius: 5px;
	
}

.tarjeta p {
	margin-bottom: 5px;
	font-size: 13px;
	margin-top: 5px;
}

.tarjeta h2 {
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 0px;
	font-size: 17px;
}

.tarjeta .txt-cuotas {
	font-size: 12px;
	color: #5b51e9;
	margin-top: -5px;
	font-size: 11px;
	margin-bottom: 10px;
}

.tarjeta .buttons {
	padding-bottom: 20px;
	margin-top: 0px;
}

.buttons .buy {
	background-color: #0158aa;
	color: white;
	border-radius: 25px;
	border-color: #0158aa;
	width: 42%;
	height: auto;
	font-weight: bold;
	font-size: 15px;
}

.buttons .details {
	background-color: #fff ;
	color: #0158aa;
	border-radius: 25px;
	border-color: #0158aa ;
	width: 42%;
	height: auto;
	font-weight: bold;
	font-weight: bold;
	font-size: 15px;
}


/* FOOTER */

footer {
    width: auto;
    height: auto;
    text-align: center;
}
.footer-site-info {
    margin-top: 5.55555556vw;
    padding: 2.43055556vw 0;
    font-size: 0.66666667rem;
    line-height: 2;
    text-transform: uppercase;
    background: #0158AA;
    color: #fff;
  }

  @media (max-width: 960px) {
    .footer-site-info {
      margin: 0px 0;
      padding: 0 0px;
    }
  }

  .footer-site-info-insta {
      display: inline-block;
      font-size: 0;
      width: 1.73611111vw;
      height: 1.73611111vw;
      margin: 1.04166667vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .footer-site-info-face {
        display: inline-block;
        font-size: 0;
        width: 1.73611111vw;
        height: 1.73611111vw;
        margin: 1.04166667vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
  .footer-site-info-twit{
    display: inline-block;
    font-size: 0;
    width: 1.73611111vw;
    height: 1.73611111vw;
    margin: 1.04166667vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: 960px) {
    .imagen-logo-buy {
        width: 45%;
        margin-top: 1%;
    }
    .footer-site-info-insta {
        width: 25px;
        height: 25px;
        margin: 15px;
      }
    .footer-site-info-face{
      width: 25px;
      height: 25px;
      margin: 15px;
    }
    .footer-site-info-twit {
        width: 25px;
        height: 25px;
        margin: 15px;
      }
  }

  /* Imagenes logo redes */

  .footer-site-info-insta.instagram {   
    background-image: url(/imagenes/LogoInstagram.png);
  }
  .footer-site-info-face.facebook {
    background-image: url(/imagenes/LogoFaceBook.png);
  }
  .footer-site-info-twit.twitter {
      background-image: url(/imagenes/LogoTwiter.png);
  } 
  .iamgen-logo-buy {
      background-image: url(/imagenes/LogoBuyTech.png);
  }

  .facebook.button {
    color: #ff337f;
    background: #fff;
    border: 1px solid;
  }
  .instagram.button {
      color: #ff337f;
      background: #fff;
      border: 1px solid;
    }
  .twitter.button {
    color: #ff337f;
    background: #fff;
    border: 1px solid;
  }  
  
  .facebook-logo {
    display: inline-block;
    content: url(/imagenes/LogoFaceBook.png);
    height: 1.3em;
    position: relative;
    bottom: -0.25em;
    margin: 0 0.3em;
  }
  .instagram-logo {
      display: inline-block;
      content: url(/imagenes/LogoInstagram.png);
      height: 1.3em;
      position: relative;
      bottom: -0.25em;
      margin: 0 0.3em;
    }
   .twitter-logo {
        display: inline-block;
        content: url(/imagenes/LogoTwiter.png);
        height: 1.3em;
        position: relative;
        bottom: -0.25em;
        margin: 0 0.3em;
    }