header {
  display: flex;
  position: fixed;
  top: 0%;
  background-color: #0158aa;
  width: 100%;
  height: 12%;
  justify-content: space-around;
  align-items: center;
}

.contenedor {
    display: flex;
    width: 80%;
    height:auto;  
}


/* MENU HAMBURGUESA*/

.left-nav {
    display: flex;
    width: 20%;
    justify-self: center;
    align-items: center;
    color: white;
}
  
  /* LOGO */
  
  div.LOGO-up-nav {
  display: flex;
  width: 60%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.LOGO-up-img {
    display: block;
    width: 80%;
    height: auto;

}


/* CAR USER */

.right-nav {
    display: flex;
    justify-content: center;
    width: 20%;
    justify-self: center;
    align-items: center;
}

.user-ico {
    display: flex;
    color: white;
    margin-left: 2px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.icono_indiv {
    justify-content: flex-start;

}

.cart-ico {
    display: flex;
}