@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");

main {
  font-family: "Barlow", sans-serif;
  position: absolute;
  top: 12%;
}

section.general-shopped {
  background-color: #edeef0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.sub-ship-total,
.money-calculator {
  display: flex;
  flex-direction: column;
  margin: 0%;
  width: 30%;
  text-transform: uppercase;
  padding-top: 16px;
}
.sub-ship-total {
  text-align: center;
}
.money-calculator {
  text-align: center;
  margin-right: 20px;
}
section > div > p {
  font-size: 0.8em;
  font-weight: 300;
  margin: 0px;
}

.checkout-continue-buttons {
  display: flex;
  width: 40%;
  height: 75px;
  flex-direction: column;
  justify-content: space-evenly;
}

.checkout-button,
.continue-button {
  background-color: #0158aa;
  color: white;
  width: 30vw;
  border-radius: 5px;
  border-style: none;
}

/*ARTICULO*/
.shopped-article {
  width: 80vw;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
.article-1 {
  margin-top: 2vh;
  display: flex;
  height: 15vh;
  box-shadow: 9px 7px 21px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.img-container {
  width: 25%;
  margin-left: 7px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-article {
  width: auto;
  height: 90%;
  border-radius: 17px;
  margin-left: 25%;
}
.shopped-data {
  display: flex;
  width: 35%;
  max-height: 90%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.p-data {
  display: block;
  margin: 0px;
  font-size: 0.9em;
}
.remove-button {
  width: 40%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-trash-alt:before {
  display: block;
  width: 100%;
  font-size: 0.7em;
  text-align: center;
}
/*separador*/
.separador-desktop {
  display: none;
}
.money-calculator-desktop {

  display: none;
}

/* TABLET */
@media (min-width: 481px) and (max-width: 768px) {
}

/* DESKTOP */
@media (min-width: 769px) {
  main {
    display: flex;
    flex-direction: column;
  }
  section.general-shopped {
    position: fixed;
    right: 9vw;
    flex-direction: column;
    width: 22vw;
    height: 35%;
    padding-bottom: 50%;
    margin-top: 8vh;
    box-shadow: 9px 0px 21px 0px rgba(0, 0, 0, 0.75);
  }
  .separador-desktop {
    display: block;
    max-width: 0px;
    padding: 0px;
    width: 10vw;
    height: 70vh;
    background-color: blue;
  }
   /*ARTICULO*/
  .article-1 {
    width: 50%;
    margin-left: 10vw;
    margin-top: 4vh;
  }
  .sub-ship-total{
    display: block;
    position: fixed;
    top: 22vh;
    right: -1vw;
    text-align: justify;
    font-size: 2rem;

  }
    .money-calculator-desktop {
    font-size: 2rem;
  }

 
  .checkout-button,
  .continue-button {
    position: relative;
    top: 40vh;
    width: 9vw;
    height: 6vh;
    font-size: 1.1rem;
  }
  .continue-button {
    background-color: white;
    color: #0158aa;
    border: solid black 1px;
    margin-top: 1vh;
  }

  .money-calculator {
    display: none;
  }
  .money-calculator-desktop {
    display: block;
    position: fixed;
    right: 12vw;
    top: 23.5vh;
  }
  .p-data {
    font-size: 1.4em;
  }
 
}