<header>
    <nav class="contenedor">
        <nav class="left-nav">
            <!--BURGER MENU-->
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>

        <!-- LOGO (está hecho link para que redirija al index)-->
        <div class="LOGO-up-nav"> 
            <a class="a-LOGO" href="index.html">
                <img class="LOGO-up-img" src="/images/LogoBuyTech.png" alt="LOGO">
            </a>
        </div>

        <nav class="right-nav">
            <div class="user-ico">
                <div class="icono-indiv-user"><i class="fas fa-user"></i></div>
                <div class="icono-indiv-cart"><i class="fas fa-shopping-cart"></i></div>
            </div>
        </nav>
    </nav>

</header>