<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyTech - Shop Cart</title>
    <!-- CSS -->
    <link href="/css/LineamientosGenerales.css" rel="stylesheet" type="text/CSS">
    <link href="/css/styleFooterEU.css" rel="stylesheet" type="text/CSS">
    <!-- ICONOS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">

</head>
<body>
    
    <footer>
        <div class="contenedor-bottom">
            <div class="LOGO-down-nav">
                <a class="a-LOGO" href="index.html">
                    <img class="LOGO-down-img" src="/imagenes/LogoBuyTech.png" alt="LOGO">
                </a>
            </div>
            <div class="REDES">
                <img class="logo-twitter" src="/imagenes/LogoTwiter.png">
                <img class="logo-face" src="/imagenes/LogoFaceBook.png">
                <img class="logo-insta" src="/imagenes/LogoInstagram.png">
            </div>
            
            <div class="COPYRIGHT">
                <p>TODOS LOS DERECHOS RESERVADOS BUYTECH.COM.AR - 2022</p>
            </div>
        </div>
    </footer>

</body>
</html>