<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyTech</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleIndex.css">
    <link href="/css/LineamientosGenerales.css" rel="stylesheet" type="text/CSS">
    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">

</head>
<body>    
    <header>

        <!-- Menu hamburguesa -->
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <nav>	
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
        
        <!-- Header right -->
                <img class="logo" src="/imagenes/LogoBuyTech.png" alt="Logo BuyTech">
                <div class="header-right">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-user"></i>
                </div>
    </header> 

    
    <main>
        <section class="slider">
            <article class="slider__toleft">
                <button class="fas fa-chevron-left">
            </article>
            <article>
                <img src="./imagenes/voidProduct.svg" alt="">
                <p>Product Type 01</p>
            </article>
            <article>
                <img src="./imagenes/voidProduct.svg" alt="">
                <p>Product Type 02</p>
            </article>
            <article>
                <img src="./imagenes/voidProduct.svg" alt="">
                <p>Product Type 03</p>
            </article>
            <article>
                <img src="./imagenes/voidProduct.svg" alt="">
                <p>Product Type 04</p>
            </article>
            <article class="slider__toright">
                <button class="fas fa-chevron-right">
            </article>
            
        </section>
       <section class="latest">
           <h3>The latest</h3>
           <article class="tarjeta-latest">
               <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
               <p>Product Name</p>                
           </article>
       </section>

       <section class="top-sales">
           <h3>Top Sales</h3>
           <article class="tarjeta-top-sales">
               <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
               <p>Product Name</p>                
           </article>
           <article class="tarjeta-top-sales">
            <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
            <p>Product Name</p>                
        </article>       

       </section>

       <!-- <section class="special-discounts">
           <h3>Special Discounts</h3>
           <article class="tarjeta-special-discounts">
               <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
               <p>Product Name</p>                
           </article>
           <article class="tarjeta-special-discounts">
            <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
            <p>Product Name</p>                
        </article>
       </section>          -->

        
    
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum quasi rerum ducimus vero mollitia ab magni numquam molestias eum adipisci amet ut, consequuntur eius consectetur sint soluta expedita itaque. Quas.</p>

    </main>   

    <footer>

        <article class="footer__logo">
            <img src="./imagenes/LogoBuyTech.png" alt="Logo">
        </article>

        <article class="footer__about-us footer__border-left">
            <h4>About us</h4>
            <ul>
                <li>link 1</li>
                <li>link 2</li>
                <li>link 3</li>
            </ul>
        </article>
        

        <article class="footer__contact footer__border-left">
            <h4>Contact</h4>
            <ul>
                <li>link 1</li>
                <li>link 2</li>
                <li>link 3</li>
            </ul>            
        </article>

        <article class="footer__help footer__border-left">
            <h4>Help</h4>
            <ul>
                <li>link 1</li>
                <li>link 2</li>
                <li>link 3</li>
            </ul>

        </article>
        
        <article class="footer__extra" >
            <div class="social-media">
                <img src="./imagenes/LogoTwiter.png" alt="twitter_logo">
                <img src="./imagenes/LogoFacebook.png" alt="facebook_logo">
                <img src="./imagenes/LogoInstagram.png" alt="instagram_logo">                
            </div>
            <p>TODOS LOS DERECHOS RESERVADOS BUYTECH.COM.AR - 2022</p>

        </article>
        
    </footer>



</body>

</html>