<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyTech</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleIndex.css">
    <link href="/css/LineamientosGenerales.css" rel="stylesheet" type="text/CSS">
    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    
    <header>
        <nav>
            <div class="burger-menu">
                <i class="fas fa-bars" ></i>
            </div>
            <img src="" alt="">
            <div>
                <i>user</i>
                <i>cart</i>
            </div>

        </nav>
        <h2>The tecnology's vault (SLOGAN)</h2>
        <section class="slider">
            
            <article>
                <img src="" alt="">
                <p>Product Type 01</p>
            </article>
            <article>
                <img src="" alt="">
                <p>Product Type 02</p>
            </article>
            <article>
                <img src="" alt="">
                <p>Product Type 03</p>
            </article>
            <article>
                <img src="" alt="">
                <p>Product Type 04</p>
            </article>
            
        </section>
    </header>

    <section class="NewArrivals"></section>
    <main>
        <section>
            <h3>The latest</h3>
            <article class="main__article-thelatest">
                <img src="" alt="">
                <p>Product Name</p>            
            </article>
        </section>
    
        <section>
            <h3>Special Discounts</h3>
            <article class="main__special-discounts">
                <img src="" alt="">
                <p>Product Name</p>            
            </article>
    
            <article class="main__special-discounts">
                <img src="" alt="">
                <p>Product Name</p>            
            </article>
        </section>

    </main>   

    <footer>

        <article class="footer__logo">
            <img src="./imagenes/LogoBuyTech.png" alt="Logo">
        </article>

        <article class="footer__about-us footer__border-left">
            <h4>About us</h4>
            <ul>
                <li>link 1</li>
                <li>link 2</li>
                <li>link 3</li>
            </ul>
        </article>

        <article class="footer__contact footer__border-left">
            <h4>Contact</h4>
            <ul>
                <li>link 1</li>
                <li>link 2</li>
                <li>link 3</li>
            </ul>            
        </article>

        <article class="footer__help footer__border-left">
            <h4>Help</h4>
            <ul>
                <li>link 1</li>
                <li>link 2</li>
                <li>link 3</li>
            </ul>

        </article>
        
        <article class="footer__extra footer__border-left">
            <div class="social-media">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <p>TODOS LOS DERECHOS RESERVADOS BUYTECH.COM.AR - 2022</p>

        </article>
        
    </footer>



</body>

</html>