<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyTech - Product Details</title>
    <!-- <link href="../public/css/" rel="stylesheet" type="type/css"> -->
    <!-- donde se llama a main.css -->
    <link rel="stylesheet" href="/BuyTech/public/css/styleProductDetails.css">
    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">



</head>

<body>
    <header>

    </header>
    <main>
        <section id="details">
            <div id="img">
                <img src="https://picsum.photos/618/333" alt="Product Img">
            </div>
            <div id="carrouselImg">
                <div id="slider">
                    <section><img src="https://picsum.photos/107/86" alt="Product Img"></section>
                    <section><img src="https://picsum.photos/107/86" alt="Product Img"></section>
                    <section><img src="https://picsum.photos/107/86" alt="Product Img"></section>
                    <section><img src="https://picsum.photos/107/86" alt="Product Img"></section>
                </div>
                <div id="btn-prev">&#60;</div>
                <div id="btn-next">&#62;</div>
            </div>
            <div id="description">
                <span id="product">Product Name</span><br>
                <span id="price">Price</span><br>
                <p id="detailsProduct">Details</p>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quis eveniet dolore explicabo ad quam enim. A error autem sit illo enim expedita aliquid voluptatibus ex recusandae. Iusto, sequi dignissimos.</span>
                <button id="buy-button">Buy</button>
                <button id="save-button">Save</button>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>