<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyTech - Shop Cart</title>
    <!-- poner ruta archivo CSS-->
    <!-- CSS -->
    <link href="/css/LineamientosGenerales.css" rel="stylesheet" type="text/CSS">
    <link href="/css/headerEUGE.css" rel="stylesheet" type="text/CSS">
    <!-- ICONOS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">

</head>
<body>
    <header>
        <nav class="left-nav">
            <!--BURGER MENU-->
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>

        <!--LOGO (está hecho link para que redirija al index)-->
        <div class="LOGO-up-nav"> 
            <a href="index.html">
                <img class="LOGO-up-img" src="/imagenes/LogoBuyTech.png" alt="LOGO">
            </a>
        </div>

        <nav class="right-nav">
            <div class="user-ico">
                <i class="fas fa-user"></i>
            </div>
            <div class="cart-ico">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </nav>

    </header>
    
    <main>
        <!-- CUENTAS DE LO QUE EL CARRITO TIENE-->

        <section class="general-shopped"> 
            <div class="sub-ship-total">
                <p>Subtotal</p>
                <p>Shipping</p>
                <p>Total Price</p>
            </div>
            <div class="money-calculator">
                <p>XXX</p>
                <p>XXX</p>
                <p>XXX</p>
            </div>

        <!-- BOTONES CHECK-OUT Y CONTINUE-SHOPPING-->
            <div class="checkout-continue-buttons">
                <div class="Checkout">
                    <button>Check-out</button>
                </div>
                <div class="continue-shopping">
                    <button>Continue Shopping</button>
                </div>
            </div>

        </section>



        <!-- LISTADO DE ARTICULOS-->
        <!-- DUPLICAR EL <article> POR CADA ARTICULO AGRAGADO-->
        <section class="shopped-article">
            <article>
                <div>
                    <img src="articleX.jpg" alt="aricleX.jpg">    <!--OJO! cargar la imagen del producto-->
                </div>
                <div class="shopped-data">
                    <p class="article-description" >Item:</p>
                    <p class="article-quantity" >Cantidad:</p>
                    <p class="article-price" >Precio:</p>
                </div>
                <div class="remove-button">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </article>
        </section>
    
    </main>

    <footer>
        <div class="LOGO-down-nav">
            <a href="index.html">
                <img src="/imagenes/LogoBuyTech.png" alt="LOGO">
            </a>
        </div>

        <div class="REDES">
            <img src="/imagenes/LogoTwiter.png">
            <img src="/imagenes/LogoFaceBook.png">
            <img src="/imagenes/LogoInstagram.png">
        </div>
            

        <div class="COPYRIGHT">
            <p>TODOS LOS DERECHOS RESERVADOS BUYTECH.COM.AR - 2022</p>
        </div>
    </footer>

</body>
</html>