<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyTech - Product Type List</title>

    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styleProductTypeList.css">  
    
</head>

<body>
    <header>

<!-- Menu hamburguesa -->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <nav>	
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

<!-- Header right -->
        <img class="logo" src="/imagenes/LogoBuyTech.png" alt="Logo BuyTech">
        <div class="header-right">
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-user"></i>
        </div>
    </header>

<!--Tarjetas de productos -->
    <main>
        <div class="contenedor">
            
            <h1 class="title">Product Type List</h1>
            
            <section class="contenedor-tarjetas">   
                <article class="tarjeta">
                    <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
                    <p>Samsung Galaxy S10+</p>
                    <h2>$20.000 <p></p></h2>
                    <h3 class="txt-cuotas">Hasta 6 cuotas sin interés</h3>
                    <div class="buttons">    
                        <button class="buy"> Buy</button>
                        <button class="details">Details</button>
                    </div>
                </article>

                <article class="tarjeta">
                    <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
                    <p>Samsung Galaxy S10+</p>
                    <h2>$20.000 <p></p></h2>
                    <h3 class="txt-cuotas">Hasta 6 cuotas sin interés</h3>
                    <div class="buttons">    
                        <button class="buy"> Buy</button>
                        <button class="details">Details</button>
                    </div>
                </article>

                <article class="tarjeta">
                    <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
                    <p>Samsung Galaxy S10+</p>
                    <h2>$20.000 <p></p></h2>
                    <h3 class="txt-cuotas">Hasta 6 cuotas sin interés</h3>
                    <div class="buttons">    
                        <button class="buy"> Buy</button>
                        <button class="details">Details</button>
                    </div>
                </article>

                <article class="tarjeta">
                    <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
                    <p>Samsung Galaxy S10+</p>
                    <h2>$20.000 <p></p></h2>
                    <h3 class="txt-cuotas">Hasta 6 cuotas sin interés</h3>
                    <div class="buttons">    
                        <button class="buy"> Buy</button>
                        <button class="details">Details</button>
                    </div>
                </article>

                <article class="tarjeta">
                    <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
                    <p>Samsung Galaxy S10+</p>
                    <h2>$20.000 <p></p></h2>
                    <h3 class="txt-cuotas">Hasta 6 cuotas sin interés</h3>
                    <div class="buttons">    
                        <button class="buy"> Buy</button>
                        <button class="details">Details</button>
                    </div>
                </article>

                <article class="tarjeta">
                    <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
                    <p>Samsung Galaxy S10+</p>
                    <h2>$20.000 <p></p></h2>
                    <h3 class="txt-cuotas">Hasta 6 cuotas sin interés</h3>
                    <div class="buttons">    
                        <button class="buy">Buy</button>
                        <button class="details">Details</button>
                    </div>
                </article>

                <article class="tarjeta">
                    <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
                    <p>Samsung Galaxy S10+</p>
                    <h2>$20.000 <p></p></h2>
                    <h3 class="txt-cuotas">Hasta 6 cuotas sin interés</h3>
                    <div class="buttons">    
                        <button class="buy"> Buy</button>
                        <button class="details">Details</button>
                    </div>
                </article>

                <article class="tarjeta">
                    <img src="/imagenes/productos/img-samsung-galaxy-s10.jpg" alt="img producto">
                    <p>Samsung Galaxy S10+</p>
                    <h2>$20.000 <p></p></h2>
                    <h3 class="txt-cuotas">Hasta 6 cuotas sin interés</h3>
                    <div class="buttons">    
                        <button class="buy"> Buy</button>
                        <button class="details">Details</button>
                    </div>
                </article>
            </section>
        </div>
    </main>

<!--FOOTER-->
<footer>
    <div class="footer-site-info">
        <div><img class="imagen-logo-buy" src="/imagenes/LogoBuyTech.png" alt="Logo BuyTech"></div>
            <a class="footer-site-info-insta instagram" href="https://www.instagram.com" target="_blank">Instagram</a>
            <a class="footer-site-info-face facebook" href="https://www.facebook.com" target="_blank">Facebook</a>
            <a class="footer-site-info-twit twitter" href="https://www.twitter.com" target="_blank">Twitter</a>
            <br>
            TODOS LOS DERECHOS RESERVADOS BUYTECH.COM.AR - 2022
    </div>
</footer>
    
</body>
</html>