<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyTech</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleIndex.css">
    <link href="/css/LineamientosGenerales.css" rel="stylesheet" type="text/CSS">
    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>

    <main>
        <section class="slider">
            <article class="slider__toleft">
                <button class="fas fa-chevron-left">
            </article>
            <article class="slider__category">
                <img src="./images/voidProduct.svg" alt="">
                <p>Product Type 01</p>
            </article>
            <article class="slider__category">
                <img src="./images/voidProduct.svg" alt="">
                <p>Product Type 02</p>
            </article>
            <article class="slider__category">
                <img src="./images/voidProduct.svg" alt="">
                <p>Product Type 03</p>
            </article>
            <article class="slider__category"> 
                <img src="./images/voidProduct.svg" alt="">
                <p>Product Type 04</p>
            </article>
            <article class="slider__toright">
                <button class="fas fa-chevron-right">
            </article>            
        </section>

        <div class="container">

            <section class="the-latest main-sections">
                <h3 class="main-sections__title">The latest</h3>
    
                <article class="product the-latest__product">
                    <img src="/images/productos/img-samsung-galaxy-s10.jpg" alt="" class="product__img">
                    <p class="product__name">Product Name</p>            
                </article>
            </section>
        
            <section class="special-discounts main-sections">
                <h3 class="main-sections__title">Special Discounts</h3>
    
                <article class="product special-discounts__product">
                    <img src="/images/productos/img-samsung-galaxy-s10.jpg" alt="" class="product__img">
                    <p class="product__name">Product Name</p>             
                </article>
        
                <article class="product special-discounts__product">
                    <img src="/images/productos/img-samsung-galaxy-s10.jpg" alt="" class="product__img">
                    <p class="product__name">Product Name</p>              
                </article>
            </section>
    
            <section class="top-sales main-sections">
                <h3 class="main-sections__title">Top Sales</h3>
    
                <article class="product top-sales__product">
                    <img src="/images/productos/img-samsung-galaxy-s10.jpg" alt="" class="product__img">
                    <p class="product__name">Product Name</p>  
                </article>
        
                <article class="product top-sales__product">
                    <img src="/images/productos/img-samsung-galaxy-s10.jpg" alt="" class="product__img">
                    <p class="product__name">Product Name</p>             
                </article>
            </section>

        </div>
        
    </main>   

    <footer>

        <article class="footer__logo">
            <img src="./images/LogoBuyTech.png" alt="Logo">
        </article>

        <article class="footer__about-us footer__border-left">
            <h4>About us</h4>
            <ul>
                <li>link 1</li>
                <li>link 2</li>
                <li>link 3</li>
            </ul>
        </article>

        <article class="footer__contact footer__border-left">
            <h4>Contact</h4>
            <ul>
                <li>link 1</li>
                <li>link 2</li>
                <li>link 3</li>
            </ul>            
        </article>

        <article class="footer__help footer__border-left">
            <h4>Help</h4>
            <ul>
                <li>link 1</li>
                <li>link 2</li>
                <li>link 3</li>
            </ul>

        </article>
        
        <article class="footer__extra" >
            <div class="social-media">
                <img src="./images/LogoTwiter.png" alt="twitter_logo">
                <img src="./images/LogoFacebook.png" alt="facebook_logo">
                <img src="./images/LogoInstagram.png" alt="instagram_logo">                
            </div>
            <p>TODOS LOS DERECHOS RESERVADOS BUYTECH.COM.AR - 2022</p>

        </article>
        
    </footer>



</body>

</html>