<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Linkear el CSS -->
    <link href="/css/styleHeader.css" rel="stylesheet" type="text/css">
    <link href="/css/user.css" rel="stylesheet" type="text/css">
    <link href="/css/styleFooterEU.css" rel="stylesheet" type="text/css">
    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">

    <!-- Linkear íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="user-img">
            <i class="fas fa-user"></i>
        </div>
    
        <form action="/" method="GET" class="form-complete">
            <div class="form-box">
                <label for="userMail"></label>
                <input type="mail" placeholder="example@mail.com" id="userMail" name="userMail" required minlength="7">
            </div>
    
            <div class="form-box">
                <label for="userPassword"></label>
                <input type="password" placeholder="Contraseña" id="userPassword" name="userPassword" required minlength="8">
            </div>

            <div class="no-pass">
                <a href="#">Olvidé la contraseña</a>
            </div>
    
            <div class="form-button">
                <button type="submit">Log In</button>
            </div>

            <div class="no-user">
                <a href="#">No tiene Usuario? Sign In</a>
            </div>
    
        </form>
    </main>

   <!-- FOOTER -->
   <%- include('./partials/footer.ejs') %>
</body>
</html>