<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- Linkear el CSS -->
    
    <link href="/css/StyleUserProfile.css" rel="stylesheet" type="text/css">
    <link href="/css/styleFooter.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styleHeader.css">
    <link href="/css/styleCheckOut.css" rel="stylesheet" type="text/css">
    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">

    <!-- Linkear íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>

    <main>
        <div>
            <h1>Hola! Tu compra se estará procesando a la brevedad!</h1>
        </div>
    </main>

 <!-- FOOTER -->
 <%- include('./partials/footer.ejs') %>
    
</body>
</html>