<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyTech</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleIndex.css">
    <link rel="stylesheet" href="/css/styleHeader.css">
    <link rel="stylesheet" href="/css/styleFooter.css" type="text/css">
    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="slider">
            <div class="slider__category">
                <a href="/types/celulares">
                    <i class="fas fa-mobile-alt"></i>
                </a>
                <p>Celulares</p>
            </div>

            <div class="slider__category">
                <a href="/types/tablets">
                    <i class="fas fa-tablet-alt"></i>
                </a>
                <p>Tablets</p>
            </div>

            <div class="slider__category">
                <a href="/types/laptops">
                    <i class="fas fa-laptop"></i>
                </a>                 
                <p>Laptops</p>
            </div>

            <div class="slider__category"> 
                <a href="/types/Accesories">
                    <i class="fas fa-mouse"></i>
                </a>
                <p>Accesories</p>
            </div>
        </div>

        <div class="advertise_section"> 
            <div class="advertise_section_image">
                <a href="/products/:id">
                    <img src="/images/banner.png" alt="release" class="advertise_image">
                </a>
            </div>
        </div>  

        <div class="container">
            <div class="section_title">
                <h3 class="section_title_info">Top Sales</h3>
            </div>

            <div class="top_sale_section">
                    <div class="top_sale_section_products">
                        <div class="top_sale_section_list">
                                <!-- <% products.forEach(element =>  {  %>     
                                    <% if (element.top == true) { %> -->
                            <div class="top_sale_section_list_item"></div> 
                                <a href="/productDetails">
                                    <div class="product">
                                        <img src="/images/productos/img-samsung-galaxy-s10_1.jpg" alt="" class="product__img">
                                        <p class="product__name">Samsung Galaxy S10 </p>       
                                    </div>
                                </a>
                            </div>
                            <!--
                            <%}%>
                         <%})%> -->
    
                            <div class="top_sale_section_list_item">
                                <a href="/productDetails">
                                    <div class="product">
                                        <img src="/images/productos/img-samsung-galaxy-s10_1.jpg" alt="" class="product__img">
                                        <p class="product__name">Samsung Galaxy S10 </p>       
                                    </div>
                                </a>
                            </div>
    
                            <div class="top_sale_section_list_item">
                                <a href="/productDetails">
                                    <div class="product">
                                        <img src="/images/productos/img-samsung-galaxy-s10_1.jpg" alt="" class="product__img">
                                        <p class="product__name">Samsung Galaxy S10 </p>      
                                    </div>
                                </a>
                            </div>
                            <div class="top_sale_section_list_item">
                                <a href="/productDetails">
                                    <div class="product">
                                        <img src="/images/productos/img-samsung-galaxy-s10_1.jpg" alt="" class="product__img">
                                        <p class="product__name">Samsung Galaxy S10 </p>      
                                    </div>
                                </a>
                            </div>
                            <div class="top_sale_section_list_item">
                                <a href="/productDetails">
                                    <div class="product">
                                        <img src="/images/productos/img-samsung-galaxy-s10_1.jpg" alt="" class="product__img">
                                        <p class="product__name">Samsung Galaxy S10 </p>      
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
        
            </div>
                
        </div>
        
    </main>   
<!-- FOOTER  -->
    <%- include('./partials/footer.ejs') %>
    
</body>

</html>