<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyTech - Shop Cart</title>
    <!-- CSS -->
    <link href="/css/LineamientosGenerales.css" rel="stylesheet" type="text/CSS">
    <link href="/css/styleHeader.css" rel="stylesheet" type="text/CSS">
    <link href="/css/styleProductCart.css" rel="stylesheet" type="text/CSS">
    <link href="/css/styleFooter.css" rel="stylesheet" type="text/CSS">
    <!-- ICONOS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Linkear Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
</head>

 <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>
    <main>
        <!-- CUENTAS DE LO QUE EL CARRITO TIENE-->

        <section class="general-shopped"> 
            <div class="sub-ship-total">
                <p>Subtotal</p><br>
                <p>Shipping</p><br>
                <p>Total Price</p><br>
            </div>
            <div class="money-calculator">
                <p>XXX</p><br>
                <p>XXX</p><br>
                <p>XXX</p><br>
            </div>
            <div class="money-calculator-desktop">
                <p>XXX</p><br>
                <p>XXX</p><br>
                <p>XXX</p><br>
            </div>


        <!-- BOTONES CHECK-OUT Y CONTINUE-SHOPPING-->
            <div class="checkout-continue-buttons">
                <div class="Checkout">
                    <button class="checkout-button">Check-out</button>
                </div>
                <div class="continue-shopping">
                    <button class="continue-button">Continue Shopping</button>
                </div>
            </div>

        </section>

        
        <!--    separador para la querie DESKTOP
        <div class="separador-desktop">

        </div>
        -->
        

        <!-- LISTADO DE ARTICULOS-->
        <!-- DUPLICAR EL <article> POR CADA ARTICULO AGRAGADO-->
        <section class="shopped-article">
            <article class="article-1">
                <div class="img-container">
                    <img class="img-article" src="/images/productos/img-samsung-galaxy-s10.jpg" alt="aricleX.jpg">
                </div>
                <div class="shopped-data">
                    <p class="article-description p-data" >Item:</p>
                    <p class="article-quantity p-data" >Cantidad:</p>
                    <p class="article-price p-data" >Precio:</p>
                </div>
                <div class="remove-button">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </article>

            <article class="article-1">
                <div class="img-container">
                    <img class="img-article" src="/images/productos/img-samsung-galaxy-s10.jpg" alt="aricleX.jpg">
                </div>
                <div class="shopped-data">
                    <p class="article-description p-data" >Item:</p>
                    <p class="article-quantity p-data" >Cantidad:</p>
                    <p class="article-price p-data" >Precio:</p>
                </div>
                <div class="remove-button">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </article>

            <article class="article-1">
                <div class="img-container">
                    <img class="img-article" src="/images/productos/img-samsung-galaxy-s10.jpg" alt="aricleX.jpg">
                </div>
                <div class="shopped-data">
                    <p class="article-description p-data" >Item:</p>
                    <p class="article-quantity p-data" >Cantidad:</p>
                    <p class="article-price p-data" >Precio:</p>
                </div>
                <div class="remove-button">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </article>

        </section>
    
    </main>

<!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>


    
</body>
</html>