<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyTech - Product Details</title>
    <!-- CSS donde se llama a main.css -->
    <link rel="stylesheet" href="/BuyTech/public/css/styleProductDetails.css">
    <!-- CSS -->
    <link href="/css/styleHeader.css" rel="stylesheet" type="text/CSS">
    <link href="/css/styleFooterEU.css" rel="stylesheet" type="text/CSS">
    <link href="/css/styleProductDetails.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">



</head>

<body>
   <!-- HEADER -->
   <%- include('./partials/header.ejs') %>

    <main>
        <div class="product-container">
            <div class="product-image">
                <img class="image" src="/images/productos/JBL_FLIP6.png" alt="No image">
            </div>
            <div class="product-image-rows">
                <div class="one-image-rows">
                    <a href="/">
                        <img src="/images/productos/JBL_FLIP6_1.png" alt="no-image" class="small-image">
                    </a>
                </div>
                <div class="one-image-rows">
                    <a href="/">
                        <img src="/images/productos/JBL_FLIP6_2.png" alt="no-image" class="small-image">
                    </a>
                </div>
                <div class="one-image-rows">
                    <a href="/">
                        <img src="/images/productos/JBL_FLIP6_3.png" alt="no-image" class="small-image">
                    </a>
                </div>
                <div class="one-image-rows">
                    <a href="/">
                        <img src="/images/productos/JBL_FLIP6_4.png" alt="no-image" class="small-image">
                    </a>
                </div>
            </div>
            <div class="product-info-name">
                <h3 class="product-name">JBL Flip 6</h3>
            </div>
            <div class="product-info-description">
                <p class="product-description">Portable Waterproof Speaker</p>
            </div>
            <div class="product-info-price">
                <p class="product-price">$25.800</p>
            </div>
            <div class="product-properties">
                <ul class="list-properties">
                    <li><i class="far fa-check-circle"></i><p>Color: Blue</p></li>
                    <li><i class="far fa-check-circle"></i><p>Sound output: 20 Watt</p></li>
                    <li><i class="far fa-check-circle"></i><p>Size: Small (4-8 in)</p></li>
                    <li><i class="far fa-check-circle"></i><p>Music playing time: 12hrs</p></li>
                </ul>
            </div>
            <div class="product-quantity">
                <div class="quantity-text">
                    <p>Quantity</p>
                </div>
                <div class="quantity-number">
                    <select name="selected-quantity" id="selected-quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div class="add-to-cart">
                <div class="button-container">
                    <button type="submit">
                        <p>Add to cart</p>
                    </button>
                </div>
            </div>
        </div>
    </main>

   <!-- FOOTER -->
   <%- include('./partials/footer.ejs') %>
</body>

</html>